:root{
  --numbers-background-color:#ededed;
    --operators-background-color: lightblue;
    --display-background-color: #ededed;
    --clear-background-color: orange;
    --equalTo-background-color: #E50010;
    --text-background-color: black;
    --display-text-color: darkgrey;
  --background-color: #ededed;
  --button-border-color: grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto,
        helvetica, arial, sans-serif;

}


body {
    background-color: var(--background-color);
}
header {
  display: flex;
  justify-content: center;
}
select {
  width: 10%;
}
.calculator {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid var(--button-border-color);
    height: 100vh;
    max-width: 75%;
}
#display {
    flex: 1;
    border: 2px solid var(--button-border-color);
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    color: var(--display-text-color);
    background-color: var(--display-background-color);
  
  
}
.keypad {
    display: flex;
    flex: 4;
}

.buttons {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.equal-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.number {
    background-color: var(--numbers-background-color);
}
.operator {
    background-color: var(--operators-background-color);
}
#clear-button{
  background-color: var(--clear-background-color);
}
#equalTo-button {
    background-color: var(--equalTo-background-color);
flex: 4;
}
#divide-button {
    flex: 1;
}

button {
  border: none;
    flex: 1;
    font-size: 1.2rem;
    min-width: calc(100%/3);
}
button:hover {
    filter: brightness(115%);
}
button:active {
    filter: brightness(85%);
}
button > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid var(--button-border-color);
}
footer, header {
    text-align: center;
    margin: 10px;
    font-size: 0.9rem;
    color: gray;
}



