* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
}
button {
  width: 25%;
  height: 25%;
  border: 1px solid navy
}
.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  margin: auto;
border: 2px solid black;
height: 100vh;
width: 75vh;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
 }
.number {
  background-color: mediumaquamarine;
  flex-basis: 25%;
}
.operator {
  background-color: lightcoral;
  flex-basis: 25%;
}

